<footer>
	<div class="blackBlock">
		<div class="container">
			<div class="row">
			  <div class="col-md-12 col-sm-12">
			  <div class="col-md-4 col-sm-4" ui-sref="home.terms" style="cursor: pointer;">
			    <p> Terms and Conditions</p>
			  </div>
			  <div class="col-md-4 col-sm-4">
			    <p> &copy; Copyright 2017 <span>Officetechhelp.</span> All Rights Reserved. </p>
			  </div>
			  <div class="col-md-4 col-sm-4" ui-sref="home.privacy" style="cursor: pointer;">
			    <p>Privacy Policy</p>
			  </div>
			  </div>
			</div>
		</div>
     </div>
</footer>