<div ng-include ="'../views/header.html'"></div>
<div class="container">
  <div class="carouselBlockTop fullWidth">
    <div class="top fullWidth">
      <div class="left"> <h1> Tech For Help </h1> </div>
    </div>
  </div>
  <div class="cardsBlockBottom fullWidth">
    <div class="row">
      <div class="col-md-12">
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12" ng-repeat="card in restCards">
              <div class="dishCardDiv">
              <div class="cardImg">
                <img ng-src="../assets/{{card.image}}.png"  alt="offerCartImage" title="offerCartImage"/>
              </div>
              <div class="cardContent">
                <div class="dishNameDiv">
                  <a class="dishName">{{card.name}}</a>
                </div>
                <div class="rateRestBox">
                  <div class="ratebox" ng-if="card.price">
                    <span class="price">{{card.price}}</span>
                    <span class="price_icon">&#8377</span>
                  </div>
                </div>
                <div ng-if="!chackCart(card.image)" class="orderNowBtnDiv" ng-click="addToCart(card.image)">
                  <button class="orderNowBtn" ng-click="orderNow(card.dish_id,card.dish_sf_name,card.restaurant_sf_name,card.veg_nonveg_ind)">
                  <span>Add to Cart</span>
                  </button>
                </div>
                <div ng-if="chackCart(card.image)" class="orderNowBtnDiv" ng-click="addToCart(card.image)">
                  <button class="orderNowBtn1" ng-click="orderNow(card.dish_id,card.dish_sf_name,card.restaurant_sf_name,card.veg_nonveg_ind)">
                  <span>Added to Cart</span>
                  </button>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include ="'../views/footer.html'"></div>