 <div ng-include ="'../views/header.html'"></div>

<div class="whiteBox fullWidth marginBottom restWhiteBox aboutBlockMain creditsPage privacyPage">
  <!-- Top info text -->
  <div class="col-md-12">
    <div class="specialTop">
      <h1 class="text-center"> PRIVACY POLICY </h1>
      <p> Ketchupp operates the www.ketchupp.in website and helps you in finding the best dish.
        This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Service. </p>
        <p>
        We will not use or share your information with anyone except as described in this Privacy Policy.
        </p>
      <p>
      We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at http://ketchupp.in  
       </p>
    </div>
  </div>
</div>
<div ng-include ="'../views/footer.html'"></div>